FORMAT: 1A
HOST: http://MoviesLibrary.com

# Amplify your content
Amplify API

# Group Campaigns
Campaign related resources of the **Amplify API**

## Campaigns Collection [/advertisers/{id}/campaigns] 

+ Parameters
    + id (required, number, `1`) ...  the `id` of the advertier

+ Model (application/json)

    JSON representation of all campaign associted to {id}

    + Body
    
            {
                "count": 2,
                "campaigns": [
                {
                  "id": 1010,
                  "name": "The new product campaign",
                  "enabled": true,
                  "cpc": "0.13",
                  "archived": "false",
                  "amountSpent": "150.00",
                  "minimumCpc": "0.03",
                  "onAirReason": "CAMPAIGN_FLY_DATES_PAST",
                  "campaignOnAir": "false",
                  "budget": {
                    "id": 1010,
                    "name": "New product campaign",
                    "shared": false,
                    "amount": 1000,
                    "amountRemaining": "500",
                    "startDate": "2013-09-16",
                    "endDate": "2013-11-16",
                    "runForever": false,
                    "type": "CAMPAIGN",
                    "currency": "ILS"
                  }
                },
                {
                  "id": 2020,
                  "name": "One more campaign",
                  "enabled": true,
                  "cpc": "0.123",
                  "archived": "false",
                  "amountSpent": "150.00",
                  "minimumCpc": "0.03",
                  "onAirReason": "",
                  "campaignOnAir": "true",
                  "budget": {
                    "id": 2020,
                    "name": "Another budget",
                    "shared": true,
                    "amount": 2000,
                    "amountRemaining": "100",
                    "startDate": "2013-09-16",
                    "endDate": "",
                    "runForever": true,
                    "type": "MONTHLY",
                    "currency": "USD"
                  }
                }
              ]
            }

### List all Campaigns [GET]
Get a list of all the campaigns assoicted with advertiser `id`

| Propery               | Type               | Semantic                           | Example              |
| :-------------------- | :-----------------:| :---------------------------------:| :------------------: |
| **count**             | Numeric            | num of campaign for this advertiser| 2                    |
| **name**              | String,  requiered | name                               | "My Campaign"        |
| **enabled**           | Boolean, requiered | is capaign ebaled                  | true                 |
| **cpc**               | Money,   requiered | cost per click                     | "0.58"               |
| **amountSpent**       | Money,   requiered | Money spent today for **DAILY** budget, this month for **MONTHLY** budget, or from the begining of history for **CAMPAIGN** budget        | "1000.58"               |
| **minimumCpc**        | Money,   requiered | lower bound cost per click         | "0.03"               |
| **campaignOnAir**     | Boolean, requiered | is campaign currently on air       | "true"               |
| **onAirReason**       | String, optional   | 

+ Response 200 (application/json)
    [Campaigns Collection][]

## Campaign [/campaigns/{id}]

+ Parameters
    + id (required, number, `1`) ... the campaign `id` 

+ Model (application/json)

    JSON representation of Movie Resource

    + Body

            {
                "id": 2020,
                "name": "One more campaign",
                "enabled": true,
                "cpc": "0.123",
                "archived": "false",
                "amountSpent": "150.00",
                "minimumCpc": "0.03",
                "campaignOnAir": "true",
                "onAirReason": "",
                "budget": {
                    "id": 2020,
                    "name": "Another budget",
                    "shared": true,
                    "amount": 2000,
                    "amountRemaining": "100",
                    "startDate": "2013-09-16",
                    "endDate": "",
                    "runForever": true,
                    "type": "MONTHLY",
                    "currency": "USD"
                }
            }
            
            
### Retrieve a Single Campaign [GET]
Retrieve a single campaign by id. a Campaign object also contains  its **Budget** object


+ Response 200 (application/json)

    [Campaign][]

### Update an Existing Campaign [PUT]
update an existing campaign by id

the following campaign properties can not be updated, and will be ignored if wil be included within the request body:


| Propery               | Type               | Semantic                    | Example              |
| :-------------------- | :-----------------:| :--------------------------:| :------------------: |
| **name**              | String,  requiered | name                        | "My Campaign"        |
| **enabled**           | Boolean, requiered | is capaign ebaled           | true                 |
| **cpc**               | Money,   requiered | cost per click              | "0.58"               |
 

The response will hold the updated campaign
+ Request 

    + Body

            {
                "name": "One more campaign",
                "enabled": true,
                "cpc": "0.123",
            }

+ Response 200 (application/json)

    [Campaign][]


# Group Ads
Ads related resources of the **Amplify API**

## Ads Collection [/campaigns/{id}/ads] 

# Group Reports
report data

## stat for ad aggregated by day [/reports/ads/{ids}/byDay]

### Retrieve stats for a Single Ad aggregated by day [GET]
+ Response 200 (application/json)

        {
          "results": {
            "currency-code": "USD",
            "total-cost": "148.6",
            "total-frame-clicks": "0",
            "total-conversions": "0",
            "total-ctr": "0.42738283",
            "currency-symbol": "$",
            "total-clicks": "1071",
            "total-cpa": "0.0",
            "currency-id": "1",
            "total-count": "20",
            "total-impressions": "250595",            
            "entity": [
              {
                "date": "2014-01-20",
                "ctr": "0.2407",
                "cost": "6.32",
                "frame-clicks": "0",
                "cpa": "0.0",
                "conversions": "0",
                "impressions": "18277",
                "clicks": "44"
              },
              {
                "date": "2014-01-19",
                "ctr": "0.42",
                "cost": "7.44",
                "frame-clicks": "0",
                "cpa": "0.0",
                "conversions": "0",
                "impressions": "13094",
                "clicks": "55"
              },
            ]
          }
        }

## stat for campaign aggregated by day [/reports/campaigns/{ids}/byDay]

### Retrieve stats for a single Campaign aggregated by day [GET]
+ Response 200 (application/json)

        {
          "results": {
            "currency-code": "USD",
            "total-cost": "200.0",
            "cpc": "0.1392757660167131",
            "total-frame-clicks": "0",
            "total-conversions": "0",
            "total-ctr": "0.30380797",
            "currency-symbol": "$",
            "total-clicks": "1436",
            "total-cpa": "0.0",
            "currency-id": "1",
            "total-count": "20",
            "total-impressions": "472667",
            "entity": [
              {
                "date": "2014-01-20",
                "ctr": "0.2165",
                "cost": "10.0",
                "frame-clicks": "0",
                "cpa": "0.0",
                "conversions": "0",
                "impressions": "31872",
                "clicks": "69"
              },
              {
                "date": "2014-01-19",
                "ctr": "0.3204",
                "cost": "10.0",
                "frame-clicks": "0",
                "cpa": "0.0",
                "conversions": "0",
                "impressions": "22782",
                "clicks": "73"
              }
            ]
          }
        }

## stat for advertiser aggregated by day [/reports/advertisers/{ids}/byDay]

### Retrieve stats for a single Advertiser aggregated by day [GET]
+ Response 200 (application/json)

        {
          "results": {
            "currency-code": "USD",
            "total-cost": "200.0",
            "cpc": "0.1392757660167131",
            "total-frame-clicks": "0",
            "total-conversions": "0",
            "total-ctr": "0.30380797",
            "currency-symbol": "$",
            "total-clicks": "1436",
            "total-cpa": "0.0",
            "total-count": "1",
            "total-impressions": "472667",
            "entity": {
              "name": "Selfserve_Outbrain_yonatanmaman",
              "id": "3256",
              "ctr": "0.3038",
              "cost": "200.0",
              "frame-clicks": "0",
              "cpa": "0.0",
              "conversions": "0",
              "impressions": "472667",
              "clicks": "1436"
            }
          }
        }
