FORMAT: 1A
HOST: http://MoviesLibrary.com

# Amplify your content
Amplify API

# Group Campaigns
Campaign related resources of the **Amplify API**

## Campaign Collection [/advertisers/{advertiserId}/campaigns] 

+ Parameters
    + advertiserId (required, number, `1`) ...  `advertiserId` the id of the advertier

+ Model (application/json)

    JSON representation of all campaign associted to {advertiderId}

    + Body
    
            {
                "count": 2,
                "campaigns": [
                {
                  "id": 1010,
                  "name": "The new product campaign",
                  "enabled": true,
                  "cpc": "0.13",
                  "archived": "false",
                  "amountSpent": "150.00",
                  "minimumCpc": "0.03",
                  "onAirReason": "CAMPAIGN_FLY_DATES_PAST",
                  "campaignOnAir": "false",
                  "budget": {
                    "id": 1010,
                    "name": "New product campaign",
                    "shared": false,
                    "amount": 1000,
                    "amountRemaining": "500",
                    "startDate": "2013-09-16",
                    "endDate": "2013-11-16",
                    "runForever": false,
                    "type": "CAMPAIGN",
                    "currency": "ILS"
                  }
                },
                {
                  "id": 2020,
                  "name": "One more campaign",
                  "enabled": true,
                  "cpc": "0.123",
                  "archived": "false",
                  "amountSpent": "150.00",
                  "minimumCpc": "0.03",
                  "onAirReason": "",
                  "campaignOnAir": "true",
                  "budget": {
                    "id": 2020,
                    "name": "Another budget",
                    "shared": true,
                    "amount": 2000,
                    "amountRemaining": "100",
                    "startDate": "2013-09-16",
                    "endDate": "",
                    "runForever": true,
                    "type": "MONTHLY",
                    "currency": "USD"
                  }
                }
              ]
            }

### List all Movies [GET]
Get a list of all the movies in your library

+ Response 200 (application/json)
    [Campaign Collection][]

## Movie [/movie/{id}]

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Movie to perform action with. Has example value.

+ Model (application/json)

    JSON representation of Movie Resource

    + Body

            {
                "id": 1,
                "title": "The God Father 1",
                "director": {
                    "id": "1",
                    "name": "Francis Ford Coppola"
                }
            }
            
            
### Retrieve a Single Movie [GET]
Retrieve a single movie by id
+ Response 200 (application/json)

    [Movie][]

## Create a Movie [POST]
Create a new movie and add it to the movie in your library
+ Request (application/json)

            {
                "id": 1,
                "title": "The God Father 1",
                "director": {
                    "id": "1"
                }
            }

+ Response 201 (application/json)

            {
                "id": 1,
                "title": "The God Father 1",
                "director": {
                    "id": "1",
                    "name": "Francis Ford Coppola"
                }
            }

### Update an existing Movie [PUT]
updating an existing movie, title field can be changed

The response will hold the updated movie
+ Request 

    [Movie][]

+ Response 200 (application/json)

    [Movie][]


