FORMAT: 1A
HOST: http://MoviesLibrary.com

# Amplify your content
Amplify API

# Group Campaigns
Campaign related resources of the **Amplify API**

## Campaign Collection [/advertisers/{id}/campaigns] 

+ Parameters
    + id (required, number, `1`) ...  the `id` of the advertier

+ Model (application/json)

    JSON representation of all campaign associted to {id}

    + Body
    
            {
                "count": 2,
                "campaigns": [
                {
                  "id": 1010,
                  "name": "The new product campaign",
                  "enabled": true,
                  "cpc": "0.13",
                  "archived": "false",
                  "amountSpent": "150.00",
                  "minimumCpc": "0.03",
                  "onAirReason": "CAMPAIGN_FLY_DATES_PAST",
                  "campaignOnAir": "false",
                  "budget": {
                    "id": 1010,
                    "name": "New product campaign",
                    "shared": false,
                    "amount": 1000,
                    "amountRemaining": "500",
                    "startDate": "2013-09-16",
                    "endDate": "2013-11-16",
                    "runForever": false,
                    "type": "CAMPAIGN",
                    "currency": "ILS"
                  }
                },
                {
                  "id": 2020,
                  "name": "One more campaign",
                  "enabled": true,
                  "cpc": "0.123",
                  "archived": "false",
                  "amountSpent": "150.00",
                  "minimumCpc": "0.03",
                  "onAirReason": "",
                  "campaignOnAir": "true",
                  "budget": {
                    "id": 2020,
                    "name": "Another budget",
                    "shared": true,
                    "amount": 2000,
                    "amountRemaining": "100",
                    "startDate": "2013-09-16",
                    "endDate": "",
                    "runForever": true,
                    "type": "MONTHLY",
                    "currency": "USD"
                  }
                }
              ]
            }

### List all Campaigns [GET]
Get a list of all the campaigns assoicted with advertiser `id`

+ Response 200 (application/json)
    [Campaign Collection][]

## Campaign [/campaigns/{id}]

+ Parameters
    + id (required, number, `1`) ... the campaign `id` 

+ Model (application/json)

    JSON representation of Movie Resource

    + Body

            {
                "id": 2020,
                "name": "One more campaign",
                "enabled": true,
                "cpc": "0.123",
                "archived": "false",
                "amountSpent": "150.00",
                "minimumCpc": "0.03",
                "onAirReason": "",
                "campaignOnAir": "true",
                "budget": {
                    "id": 2020,
                    "name": "Another budget",
                    "shared": true,
                    "amount": 2000,
                    "amountRemaining": "100",
                    "startDate": "2013-09-16",
                    "endDate": "",
                    "runForever": true,
                    "type": "MONTHLY",
                    "currency": "USD"
                }
            }
            
            
### Retrieve a Single Campaign [GET]
Retrieve a single campaign by id
+ Response 200 (application/json)

    [Campaign][]

### Update an existing Movie [PUT]
updating an existing campaign

The response will hold the updated campaign
+ Request 

    [Campaign][]

+ Response 200 (application/json)

    [Campaign][]


